*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  box-sizing: border-box;
}
section {
  height: 100vh;
  font-size: 40px;
  font-weight: 100;
  background-color: #22A7F0;
}

/* Manually applying colors to each section */
section:nth-child(1) { background: white; }
section:nth-child(3) { background: #98dbff; }
section:nth-child(4) { background: #F9690E; }
section:nth-child(5) { background: #9B59B6; }
section:nth-child(6) { background: #03C9A9; }
section:nth-child(7) { background: #ffcc00; }

.nav__wrapper {
  position: fixed;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  z-index: 1;
}

.nav {
  margin: 0 0 0 30px;
}

.nav__counter {
  font-size: 24px;
  transition: all 0.15s ease-out;
}

.nav__title {
  font-size: 32px;
  font-weight: 300;
  margin: 0 0 0.25em;
  width: 300px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: height 0.3s ease-out, opacity 0.2s ease-out;
}

.nav__body {
  font-weight: 100;
  font-size: 18px;
  width: 300px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: height 0.3s ease-out, opacity 0.2s ease-out;
}

.nav li {
  list-style-type: none;
  position: relative;
  transition: all 0.3s ease-out;
  margin-bottom: 4em;
}

.nav li:after {
  content: '';
  display: block;
  border-left: 2px solid white;
  height: 100vh;
  position: fixed;
  width: 20px;
  top: 0;
}
.nav-circle{
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  margin-left: -10px;
}
.nav li a {
  text-decoration: none;
  display: block;
  padding: 0;
  color: #fff;
  transition: all 0.15s ease-out;
}
.nav li a .nav__title{
  display: none;
}

.nav li a:hover,
.nav li a:focus {
  background-color: transparent;
  padding-left: 1em;
}

.nav li.active {
  pointer-events: none;
  padding-left: 1em;
}

/* .nav li.active:after {
  width: 35px;
  height: 400px;
} */

.nav li.active .nav__title {
  display: inline;
}

.nav li.active .nav__title,
.nav li.active .nav__body {
  height: auto; /* Adjusted for visibility */
  opacity: 1;
  overflow: visible;
}

.nav li.active .nav__title {
  font-size: 24px; /* Specific height for title */
}

.nav li.active .nav__body {
  height: 100px; /* Specific height for body */
}



/* first page css */
#section1{
height: 90vh;
background-color: rgb(0, 12, 47);
}
.custom-shape-divider-bottom-1709887751 {
position: absolute;
bottom: 9.8%;
left: 0;
width: 100%;
overflow: hidden;
line-height: 0;
transform: rotate(180deg);
}

.custom-shape-divider-bottom-1709887751 svg {

position: relative;
display: block;
width: calc(118% + 1.3px);
height: 175px;
}

.custom-shape-divider-bottom-1709887751 .shape-fill {
fill: #a9d1f9;
/* background-image: url(./colab-img.avif); */
}

.logo-name{
width: 100%;
height: 100%;
position: relative;

}
.logo-name video{
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
object-fit: cover;
}

.title{
width: 100%;
height: 100%;
background-color: rgb(0, 12, 47);
font-size: 162px;
color: #fff;
mix-blend-mode: darken;
}
.content{
margin-left: 150px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
}
.desc{
margin-top: 10%;
}
/* login signup button */
button {
width: 200px;
height: 45px;
font-size: 23px;
cursor: pointer;
border: none;
outline: none;
background: transparent;
color: white;
font-family: 'Times New Roman', Times, serif;
font-weight: 700;
position: relative;
transition: all 0.5s;
z-index: 1;
}

button::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 5px;
height: 100%;
background-color: white;
z-index: -1;
transition: all 0.5s;
}

button:hover::before {
width: 100%;
}

button:hover {
color: black;
}

button:active:before {
background: #b9b9b9;
}
.logo-img{
margin-top: 10%;
height: 100%;
width: 40%;
display: flex;
align-items: center;
justify-content: center;
}
.logo-img img{
height: 100%;
width: 100%;
}

.section1{
background-image: url(/assets/hero-bg.png);
}
/* section2 */
section.section2{
background-image: url(/assets/sec2-bg.png);
background-repeat: no-repeat;
background-size: cover;
display: flex;
align-items: center;

}
section.section3{
  background-image: url(/assets/sec3-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  

  }
  section.section4{
    background-image: url(/assets/sec4-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    }
    section.section5{
      background-image: url(/assets/sec5-bg.png);
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;

      }

      section.section6{
        background-image: url(/assets/sec6-bg.webp);
      background-repeat: no-repeat;
      background-size: cover;
      align-items: center;
      }

.colab-text, .hiring-text,.messaging-text,.post-text{
width: 60%;
text-align: center;
display: flex;
flex-direction: column;
line-height: 45px;
font-family: 'Google sans' ,serif;

}
.animated-img1, .animated-img2, .animated-img3, .animated-img4 {
width: 40%;
}

.colab-text,.hiring-text{
  margin-left: 8.25rem;
}
.messaging-text,.post-text{
  padding-left: 7rem;
}

.animated-img2, .animated-img4{
  margin-left: 8.25rem;
}

.heading{
  font-family: 'Roboto Slab',serif;
  justify-content: start;
 font-size: 50px;
  padding-bottom: 30px;
}
p{
  font-size: 30px;
  height: 50%;
  
  text-align: left;
}