*{
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}
section {
  height: 100vh;
  font-size: 40px;
  font-weight: 100;
  background-color: #22A7F0;
}

/* Manually applying colors to each section */
section:nth-child(1) { background: white; }
section:nth-child(3) { background: #98dbff; }
section:nth-child(4) { background: #F9690E; }
section:nth-child(5) { background: #9B59B6; }
section:nth-child(6) { background: #03C9A9; }
section:nth-child(7) { background: #ffcc00; }

.nav__wrapper {
  position: fixed;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  z-index: 1;
}

.nav {
  margin: 0 0 0 30px;
}
.nav li {
  list-style-type: none;
  width: 20px;
  height: 20px;
  position: relative;
  transition: all 0.3s ease-out;
  margin-bottom: 4em;
}

.nav li:after {
  content: '';
  display: block;
  border-left: 2px solid white;
  height: 100vh;
  position: fixed;
  width: 20px;
  top: 0;
}
.nav-circle{
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 50%;
  margin-left: -10px;
}
.nav li a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
  color: #fff;
  transition: all 0.15s ease-out;
}

/* first page css */
#section1{
height: 90vh;
background-color: rgb(0, 12, 47);
}
.custom-shape-divider-bottom-1709887751 {
position: absolute;
bottom: 9.8%;
left: 0;
width: 100%;
overflow: hidden;
line-height: 0;
transform: rotate(180deg);
}

.custom-shape-divider-bottom-1709887751 svg {

position: relative;
display: block;
width: calc(118% + 1.3px);
height: 175px;
}

.custom-shape-divider-bottom-1709887751 .shape-fill {
fill: #b4d4f6;
}

.logo-name{
width: 100%;
height: 100%;
position: relative;

}
.logo-name video{
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
object-fit: cover;
}

.title{
width: 100%;
height: 100%;
background-color: rgb(0, 12, 47);
font-size: 162px;
color: #fff;
mix-blend-mode: darken;
font-family:'Roboto Slab', serif;
}
.content{
  height: 100%;
margin-left: 150px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
}
.logo-img{
  height: auto;
  width: 80%;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .logo-img img{
  height: 100%;
  width: 100%;
  }
.logo-tagline{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-size: 10px;
  color: white;
  width: 100%;
  height: 100%;
}
.tagline p{
  margin-top: 0;
  position: relative;
  top: -10px;
  font-size: 1rem;
  text-align: center;
}

/* login signup button */
button {
width: 200px;
height: 45px;
font-size: 23px;
cursor: pointer;
border: none;
outline: none;
background: transparent;
color: white;
font-family: 'Times New Roman', Times, serif;
font-weight: 700;
position: relative;
transition: all 0.5s;
z-index: 1;
}

button::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 5px;
height: 100%;
background-color: white;
z-index: -1;
transition: all 0.5s;
}

button:hover::before {
width: 100%;
}

button:hover {
color: black;
}

button:active:before {
background: #b9b9b9;
}


.section1{
background-image: url(/assets/hero-bg.png);
}
/* section2 */
section.section2{
background-image: url(/assets/sec2-bg.jpg);
background-repeat: no-repeat;
background-size: cover;
display: flex;
}

.colab-text, .hiring-text,.messaging-text,.post-text{
width: 60%;
text-align: center;
}
.colab-animate, .hiring-animate,.messaging-animate,.post-animate{
width: 40%;
}
