*{
  margin:0;
  padding: 0;
}
.directory{
  position: fixed;
  top:0;
  left:85px;
  height: 74px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  z-index: 100;
}
.logo-top{
  height: 100px;
  width: 88px;
}
.sidebar{
  background-color: #fff;
  position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    width: 85px;
    height: 100%;
}
.sidebar-no-settings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.sidebar-no-settings a{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .html{
  background-image: url(/assets/search-img.jpeg);
} */

.icon{
  height: 25px;
  width: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.settings{
  height: 25px;
  width: 25px;
}

.sidebar a,
.sidebar .sidebar-no-settings a :hover{
  cursor: pointer;
}

.sidebar .sidebar-no-settings a{
  width: 100%;
}
.sidebar .sidebar-no-settings .open{
  border-right: 2px solid black;
}

/* searchbar */
.overall-search {
    margin-top: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1; 
    width: 100%;
}

  
.search input[type="text"] {
  width: 70%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow:  0 0 10px  rgba(0, 0, 0, 0.1);
}

.search{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.search button[type="submit"] {
  background-color:inherit;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
  top: 0;
  right: 0;
  transition: .9s ease;
  height: 74px;
  display:flex ;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}
.search-bar-icon{
  margin: 0px;
  height: 60%;
}
.search button[type="submit"]:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  transform: translateY(-3px);
}
.search input[type="text"]:focus{
  outline-color: rgb(136, 135, 135);
}
.settings{
  height: 25px;
  width: 25px;
}
.sidebar a,
.sidebar .sidebar-no-settings a :hover{
  cursor: pointer;
}

.sidebar .sidebar-no-settings a{
  width: 100%;
}
.sidebar .sidebar-no-settings .open{
  border-right: 2px solid black;
}
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Apply blur effect to background */
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

.popup {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 10000;
  transform: scale(0.5);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

#close-popup {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#close-popup:hover {
  background-color: #0056b3;
}



#categories-button{
  border: none;
  background-color: inherit;
  margin-left: 20px;
}
/* .content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  width: 200px;
  border-radius: 20px;
} */
.categories a{
  text-decoration: none;
  color: rgb(247, 243, 243);
}

.categories{
  margin:  auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(2, 1fr);   
  gap: 1.25rem; 
  /* width: 1000%; */
   width:67rem;
  /* height:38rem; */
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
  /* display:grid;
  grid-template-columns: 200px 200px;
  grid-row: auto auto;
  grid-column-gap: 110%;
  grid-row-gap: 50%; */
  align-content: center;
  justify-content: center;
  justify-items: center;
}
.categorie{
  background-color:inherit;
  padding:1.25rem;
  border-radius:0.625rem;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:1.375rem;
  width: 100%;
  /* height: 315%; */
}
.animated{
  width: 70%;
}
.categorie:hover{
  transform: translateY(-5px);
  box-shadow: 5px 5px 8px rgb(131, 129, 129);
}
.graphic-design,.Architecture,.data-science,.business{
  display: flex;
  flex-direction: column;
  background-color: rgb(18, 18, 113);
}

