*{
  margin:0;
  padding: 0;
}
/* sideBar CSS */
.directory{
  position: fixed;
  top:0;
  left:100px;
  height: 74px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.logo-top{
  height: 100px;
  width: 88px;
}
.sidebar{
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 85px;
  height: 90%;
}
.sidebar-no-settings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.sidebar-no-settings a{
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon{
  height: 25px;
  width: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.settings{
  height: 25px;
  width: 25px;
}

.sidebar a,
.sidebar .sidebar-no-settings a :hover{
  cursor: pointer;
}

.sidebar .sidebar-no-settings a{
  width: 100%;
}
.sidebar .sidebar-no-settings .open{
  border-right: solid 2px black;
}
