<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEXUS</title>
    <link rel="shortcut icon" href="./assets/logo.svg" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="./css/collabPage.css">
</head>
<body>
  <div class="directory">
    <div class="logo-directory">
        <a href=""><img class="logo-top" src="./assets/logo.svg"></a>
        <p>Home/Collaborations</p>
    </div>
    <a href="#" class="settings"><span class="material-symbols-outlined">power_settings_new</span></a>
  </div>
  <div class="sidebar">
      <div class="sidebar-no-settings">
          <a href="/studentHomePage" class="icon-link"><img class="home icon" src="/assets/home.png"></a>
          <a href="/searchpage" class="icon-link"><img class="search-icon icon"  src="/assets/search.png"></a>
          <a href="/hirePage" class="icon-link"><img class="search-icon icon" src="/assets/job-icon.png"></a>
          <a href="/notificationPage" class="icon-link"><img class="notifications icon"  src="/assets/bell.png"></a>
          <a href="/collabPage" class="icon-link  open"><img class="users icon"  src="/assets/users.png"></a>
          <a href="/messagePage" class="icon-link"><img class="messages icon"  src="/assets/send.png"></a>
          <a href="/profilePage" class="icon-link "><img class="profile icon"  src="/assets/profile.png"></a> 
      </div>        
  </div>
  <div class="popup-container" id="popup-container">
    <div class="popup" id="popup">
        <h2>LogOut</h2>
        <p>Are you sure you want to log out?</p>
        <div>
            <a href="landingPage"><button id="logout">Yes</button></a>
            <button id="close-popup">No</button>
        </div>
    </div>
  </div>
   <div class="main-container">
        <div class="collab-header">
          <div class="collab-header-buttons">
            <button class="collab-btn collab-active _collab0">
              <i class="fa-solid fa-window-restore"></i>
            </button>
          </div>
          <div class="collab-header-buttons">
              <button class="collab-btn _collab1">
                <i class="fa-regular fa-handshake"></i></button>
          </div>
          <div class="collab-header-buttons">
              <button class="collab-btn _collab2">
                <i class="fa-solid fa-handshake"></i></button>
          </div>
        </div>
        <div class="collab-container0 collab-container">
          <div class="collab">
            <div class="collab-preview">
              <img src="/assets/harry_styles.jpg" alt="Image">
            </div>
            <div class="collab-info">
              <h2>Agent Of Time</h2>
              <h6>
                Imagine a figure shrouded in mystery, a sentinel standing at the crossroads of past, 
                present, and future. The Agent of Time, a guardian of the temporal realms, navigates 
                the currents of history with a watchful eye and a steadfast resolve.
              </h6>
              <div class="btn-container">
        
                <button class="btn">Request</button>
              </div>
            </div>
          </div>

          <div class="collab">
            <div class="collab-preview">
              <img src="./assets/profile-pic.jpeg" alt="Image">
            </div>
            <div class="collab-info">
              <h2>Amazon Clone</h2>
              <h6> 
                Amazon went public in May 1997. It began selling music and videos in 1998, 
                and began international operations by acquiring online sellers of books in 
                the United Kingdom and Germany.
              </h6>
              <div class="btn-container">
        
                <button class="btn">Request</button>
              </div>
            </div>
          </div>

          <div class="collab">
            <div class="collab-preview">
              <img src="./assets/profile-pic2.png" alt="Image">
            </div>
            <div class="collab-info">
              <h2>B&W negatives</h2>
              <h6>
                B&W negatives, like shadows etched on silver, hold the raw essence of 
                a moment suspended in time. In their monochromatic embrace, contrasts 
                sharpen and emotions deepen, revealing a world of chiaroscuro where light 
                and darkness dance in delicate balance.
              </h6>
              <div class="btn-container">
        
                <button class="btn">Request</button>
              </div>
            </div>
          </div>

          <div class="collab">
            <div class="collab-preview">
              <img src="./assets/profile-pic3.png" alt="Image">
            </div>
            <div class="collab-info">
              <h2>Nike - Super Bowl LVIII</h2>
              <h6>
                As the gridiron spectacle of Super Bowl LVIII unfolds, 
                Nike emerges not just as a sports apparel giant but as 
                the architect of a transcendent experience.
              </h6>
              <div class="btn-container">
        
                <button class="btn">Request</button>
              </div>
            </div>
          </div>
        </div>
        <div class="collab-container1 collab-container" style="display: none;">
            <div class="collab">
                <div class="collab-preview">
                  <img src="./assets/profile-pic4.png" alt="Image">
                </div>
                <div class="collab-info">
                  <h2>Hot Wheels</h2>
                  <h6>
                    "Introducing the Turbo Blaze, a fierce addition to the Hot
                     Wheels lineup that's sure to ignite the imagination of young
                      racers everywhere! With its sleek, aerodynamic design and 
                      blazing orange paint job, the Turbo Blaze screams speed and power.
                    </h6>
                    <span class="status">Status - [ Pending ]</span>
                  
                  <div class="btn-container">
                    <button class="btn">Accept</button>
                    <button class="btn">Decline</button>
            
                  </div>
                </div>
              </div>

              <div class="collab">
                <div class="collab-preview">
                  <img src="./assets/profile-pic5.png" alt="Image">
                </div>
                <div class="collab-info">
                  <h2>
                    Jungle</h2>
                  <h6> 
                    In the vibrant world of graphic design, the Jungle theme emerges as a wild 
                    tapestry of lush foliage and untamed energy. Picture a canvas alive with the
                    verdant hues of emerald greens, punctuated by bursts of vibrant blooms and 
                    the sinuous curves of winding vines.
                  </h6>
                    <span class="status">Status - [ Pending ]</span>
                  <div class="btn-container">
                    <button class="btn">Accept</button>
                    <button class="btn">Decline</button>
            
                  </div>
                </div>
              </div>

              <div class="collab">
                <div class="collab-preview">
                  <img src="./assets/profile-pic6.png" alt="Image">
                </div>
                <div class="collab-info">
                  <h2>Anime NFTs</h2>
                  <h6>
                    Step into a world where imagination knows no limits and creativity 
                    takes on a vibrant new form. Anime Style NFTs (Non-Fungible Tokens) 
                    are not just digital collectibles; they're portals to fantastical realms 
                    where the boundaries between reality and imagination blur.
                  </h6> 
                    <span class="status">Status - [ Pending ]</span>
                  <div class="btn-container">
                    <button class="btn">Accept</button>
                    <button class="btn">Decline</button>
            
                  </div>
                </div>
              </div>

              <div class="collab">
                <div class="collab-preview">
                  <img src="./assets/profile-pic3.png" alt="Image">
                </div>
                <div class="collab-info">
                  <h2>Song of Lawino</h2>
                  <h6>
                    "Song of Lawino" is a captivating literary masterpiece that 
                    resonates with the rhythm of tradition and the melody of modernity. 
                  </h6>
                    <span class="status">Status - [ Pending ]</span>
                  <div class="btn-container">
                    <button class="btn">Accept</button>
                    <button class="btn">Decline</button>
            
                  </div>
                </div>
              </div>
        </div>
        <div class="collab-container2 collab-container" style="display: none;">
          <div class="collab">
                <div class="collab-preview">
                  <img src="./assets/harry_styles.jpg" alt="Image">
                </div>
                <div class="collab-info">
                  <h2>GIF</h2>
                  <h6>
                    "Behold the mesmerizing motion captured within the confines of a 
                    GIF - a digital window into a world of endless possibilities. Whether 
                    it's a comical snippet, a heartwarming moment, or an awe-inspiring spectacle, 
                    GIFs encapsulate fleeting emotions and narratives in a loop of perpetual replay.
                  </h6>
                  <span class="status">Status - [ Accepted ]</span>
                  <div class="btn-container">
            
                  </div>
                </div>
              </div>
    
              <div class="collab">
                <div class="collab-preview">
                  <img src="./assets/profile-pic2.png" alt="Image">
                </div>
                <div class="collab-info">
                  <h2>Datura - Brand identity</h2>
                  <h6> 
                    Imagine a brand that whispers of mystery and allure, 
                beckoning the adventurous and the curious into a realm 
                of enchantment. Datura, inspired by the enigmatic nightshade 
                flower, weaves a tapestry of intrigue through its brand identity.
                  </h6>
                  <span class="status">Status - [ Pending ]</span>
                  <div class="btn-container">
            
                  </div>
                </div>
              </div>
    
              <div class="collab">
                <div class="collab-preview">
                  <img src="./assets/profile-pic6.png" alt="Image">
                </div>
                <div class="collab-info">
                  <h2>Prime</h2>
                  <h6>
                    Enter a realm where entertainment knows no bounds, 
                    where the screen becomes a portal to a universe of 
                    limitless possibilities. Amazon Prime Video beckons 
                    with a treasure trove of cinematic wonders, from blockbuster 
                    hits to hidden gems waiting to be discovered.
                  </h6>
                  <span class="status">Status - [ Pending ]</span>
                  <div class="btn-container">
            
                  </div>
                </div>
              </div>
    
              <div class="collab">
                <div class="collab-preview">
                  <img src="./assets/profile-pic.jpeg" alt="Image">
                </div>
                <div class="collab-info">
                  <h2>The Tesseracts</h2>
                  <h6>
                    In the realm of speculative fiction, the Tesseracts are portals to worlds 
                beyond comprehension, where dimensions intersect and reality fractures like shards of glass.
                  </h6>
                  <span class="status">Status - [ Declined ]</span>
                  <div class="btn-container">
            
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    <script src="./js/collabPage.js"></script>
    <script src="https://kit.fontawesome.com/6953004357.js" crossorigin="anonymous"></script>
</body>
</html>