<DOCTYPE! html>
    <html>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
         
        </div>
    </nav>
</header>

<head>
    <link rel="stylesheet" href="./css/notificationPage.css">
</head>

<div class="directory">
    <p>Home/PostPage</p>
  </div>

  <div class="sidebar">
    <a href=""><img class="logo-top" src="./assets/logo.svg"></a>
    <div class="sidebar-no-settings">
        <a href="/studentHomePage" class="icon-link"><img class="home icon" src="/assets/home.png"></a>
        <a href="/searchpage" class="icon-link"><img class="search-icon icon"  src="/assets/search.png"></a>
        <a href="/notificationPage" class="icon-link"><img class="notifications icon"  src="/assets/bell.png"></a>
        <a href="/collabPage" class="icon-link"><img class="users icon"  src="/assets/users.png"></a>
        <a href="#" class="icon-link"><img class="messages icon"  src="/assets/send.png"></a>
        <a href="/profilePage" class="icon-link open"><img class="profile icon"  src="/assets/profile.png"></a> 
    </div>
    
    <a href="#"><img class="settings" src="./assets/settings.png"></a>
</div>

<section class="section-50">
    <div class="container">
        <h3 class="m-b-50 heading-line">Notifications <i class="fa fa-bell text-muted"></i></h3>

        <div class="notification-ui_dd-content">
            <div class="notification-list notification-list--unread">
                <div class="notification-list_content">
                    <div class="notification-list_img">
                        <img src="./assets/profile-pic5.png" alt="user">
                    </div>
                    <div class="notification-list_detail">
                        <p><b>Varshitha</b> commented to your post</p>
                        <p class="text-muted">Great work.</p>
                        <p class="text-muted"><small>10 mins ago</small></p>
                    </div>
                </div>
                <div class="notification-list_feature-img">
                    <img src="./assets/p2.png" alt="Feature image">
                </div>
            </div>
            <div class="notification-list notification-list--unread">
                <div class="notification-list_content">
                    <div class="notification-list_img">
                        <img src="./assets/profile-pic6.png" alt="user">
                    </div>
                    <div class="notification-list_detail">
                        <p><b>Ananya</b> liked your post</p>
                        <p class="text-muted"></p>
                        <p class="text-muted"><small>20 mins ago</small></p>
                    </div>
                </div>
                <div class="notification-list_feature-img">
                    <img src="./assets/p1.png" alt="Feature image">
                </div>
            </div>
            <div class="notification-list">
                <div class="notification-list_content">
                    <div class="notification-list_img">
                        <img src="./assets/profile-pic2.png" alt="user">
                    </div>
                    <div class="notification-list_detail">
                        <p><b>Hemanth</b> sent a collab request to your post</p>
                        <p class="text-muted">Hi there, love your work.Let's Collab?</p>
                        <p class="text-muted"><small>35 mins ago</small></p>
                    </div>
                </div>
                <div class="notification-list_feature-img">
                    <img src="./assets/music-img.jpeg" alt="Feature image">
                </div>
            </div>
            <div class="notification-list">
                <div class="notification-list_content">
                    <div class="notification-list_img">
                        <img src="./assets/profile-pic3.png" alt="user">
                    </div>
                    <div class="notification-list_detail">
                        <p><b>Nandhitha</b> commented on your post</p>
                        <p class="text-muted">Great Design.</p>
                        <p class="text-muted"><small>45 mins ago</small></p>
                    </div>
                </div>
                <div class="notification-list_feature-img">
                    <img src="./assets/predictive-maintenance-img.jpeg" alt="Feature image">
                </div>
            </div>
            <div class="notification-list">
                <div class="notification-list_content">
                    <div class="notification-list_img">
                        <img src="./assets/profile-pic2.png" alt="user">
                    </div>
                    <div class="notification-list_detail">
                        <p><b>Hemanth</b> liked your post</p>
                        <p class="text-muted"></p>
                        <p class="text-muted"><small>48 mins ago</small></p>
                    </div>
                </div>
                <div class="notification-list_feature-img">
                    <img src="./assets/graphic_designer_bg.jpg" alt="Feature image">
                </div>
            </div>
            <div class="notification-list">
                <div class="notification-list_content">
                    <div class="notification-list_img">
                        <img src="./assets/profile-pic4.png" alt="user">
                    </div>
                    <div class="notification-list_detail">
                        <p><b>Shristi</b> liked your post. </p>
                        <p class="text-muted"></p>
                        <p class="text-muted"><small>59 mins ago</small></p>
                    </div>
                </div>
                <div class="notification-list_feature-img">
                    <img src="./assets/hero-img.avif" alt="Feature image">
                </div>
            </div>
            <div class="notification-list ">
                <div class="notification-list_content">
                    <div class="notification-list_img">
                        <img src="./assets/profile-pic6.png" alt="user">
                    </div>
                    <div class="notification-list_detail">
                        <p><b>Ananya</b> sent a collab request to your post</p>
                        <p class="text-muted">Collab?</p>
                        <p class="text-muted"><small>1 hours ago</small></p>
                    </div>
                </div>
                <div class="notification-list_feature-img">
                    <img src="./assets/p1.png" alt="Feature image">
                </div>
            </div>
            <div class="notification-list">
                <div class="notification-list_content">
                    <div class="notification-list_img">
                        <img src="./assets/profile-pic4.png" alt="user">
                    </div>
                    <div class="notification-list_detail">
                        <p><b>Shristi</b> liked your post</p>
                        <p class="text-muted"></p>
                        <p class="text-muted"><small>1 hour ago</small></p>
                    </div>
                </div>
                <div class="notification-list_feature-img">
                    <img src="./assets/music-img.jpeg" alt="Feature image">
                </div>
            </div>
            
        </div>

        <div class="text-center">
            <a href="#!" class="dark-link">Load more activity</a>
        </div>

    </div>
</section>
</html>